{%extends "base.html" %}


{%block title %} Home {%endblock%}
{% block body %}
<!-- new collection section start -->
 
<div class="layout_padding collection_section">
    <div class="container">
        <h1 class="new_text"><strong>Welcome to Moonlight Clothes Shop</strong></h1>
        <p class="consectetur_text">Details for Moonlight Clothes Shop</p>
        <h1>Catagory</h1>
        <button><h1><a class="nav-item nav-link" href="/register-login/login.php">Crop Top</a></h1></button>
        <button><h1><a class="nav-item nav-link" href="/register-login/login.php">All Products</a></h1></button>
        <button><h1><a class="nav-item nav-link" href="/register-login/login.php">Modify</a></h1></button>
     <p><h1 class="new_text"><strong>New Collection</strong></h1></p>
                    
        <div class="collection_section_2">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-img">
                        <button class="new_bt">New</button>
                        <div class="shoes-img"><img src="images/C01.jpg"></div>
                        <p class="sport_text">Crop Top</p>
                        <div class="dolar_text">THB<strong style="color: #f12a47;">59</strong> </div>
                        <div class="star_icon">
                            <ul>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                            </ul>
                        </div>
                    </div>
                    <button class="seemore_bt">See More</button>
                </div>
                
                <div class="col-md-6">
                    <div class="about-img2">
                        <div class="shoes-img2"><img src="images/C04.jpg"></div>
                        <p class="sport_text">Crop Top</p>
                        <div class="dolar_text">59<strong style="color: #f12a47;">THB</strong> </div>
                        <div class="star_icon">
                            <ul>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                                <li><a href="#"><img src="images/star-icon.png"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="collection_section">
    <div class="container">
        <h1 class="new_text"><strong>Crop Top</strong></h1>
        <p class="consectetur_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
    </div>
</div>
<div class="collectipn_section_3 layuot_padding">
    <div class="container">
        <div class="racing_shoes">
            <div class="row">
                <div class="col-md-8">
                    <div class="shoes-img3"><img src="images/crop8.png"></div>
                </div>
                <div class="col-md-4">
                    <div class="sale_text"><strong>Sale <br><span style="color: #0a0506;">Crop</span> <br>Top</strong></div>
                    <div class="number_text"><strong>$ <span style="color: #0a0506">50</span></strong></div>
                    <button class="seemore">See More</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="collection_section layout_padding">
    <div class="container">
        <h1 class="new_text"><strong>New Arrivals Products</strong></h1>
        <p class="consectetur_text"></p>
    </div>
</div>
<!-- new collection section end -->
<!-- New Arrivals section start -->
<div class="layout_padding gallery_section">
    <div class="container">
        <div class="row">
        </div><!-- container Finish -->
       
    </div><!-- #advantages Finish -->
    
    <div id="hot"><!-- #hot Begin -->
        
        <div class="box"><!-- box Begin -->
            
            <div class="container"><!-- container Begin -->
                
                <div class="col-md-12"><!-- col-md-12 Begin -->
                    
                    <h2>
                        Our Latest Products
                    </h2>
                    
                </div><!-- col-md-12 Finish -->
                
            </div><!-- container Finish -->
            
        </div><!-- box Finish -->
        
    </div><!-- #hot Finish -->
    
    <div id="content" class="container"><!-- container Begin -->
        
        <div class="row"><!-- row Begin -->
            
            <div class="col-sm-4 col-sm-6 single"><!-- col-sm-4 col-sm-6 single Begin -->
                
                <div class="product"><!-- product Begin -->
                    
                    <a href="/register-login/login.php"></a>
                        
                        <img class="img-responsive" src="image/1.jpg" alt="Product 1">
                        
                    </a>
                    
                    <div class="text"><!-- text Begin -->
                        
                        <h1>
                            <a href="/register-login/login.php">
                                เสื้อครอปสายเดี่ยว
                            </a>
                        </h1>
                        
                        <h2 class="price">59 THB</h2>
                        
                        <p class="button">
                            
                            <a href="/register-login/login.php" class="btn btn-default">View Details</a>
                           
                            
                        </p>
                        
                    </div><!-- text Finish -->
                    
                </div><!-- product Finish -->

                
            </div><!-- col-sm-4 col-sm-6 single Finish -->
            
            <div class="col-sm-4 col-sm-6 single"><!-- col-sm-4 col-sm-6 single Begin -->
                
                <div class="product"><!-- product Begin -->
                    
                    <a href="/register-login/login.php">
                        
                        <img class="img-responsive" src="image/8.jpg" alt="Product 2">
                        
                    </a>
                    
                    <div class="text"><!-- text Begin -->
                        
                        <h1>
                            <a href="/register-login/login.php">
                                เสื้อครอปแขนสั้นลายทาง
                            </a>
                        </h1>
                        
                        <h2 class="price">59 THB</h2>
                        
                        <p class="button">
                            
                            <a href="/register-login/login.php" class="btn btn-default">View Details</a>
                            
                            
                        </p>
                        
                    </div><!-- text Finish -->
                    
                </div><!-- product Finish -->
            </div><!-- col-sm-4 col-sm-6 single Finish -->
            
            <div class="col-sm-4 col-sm-6 single"><!-- col-sm-4 col-sm-6 single Begin -->
                
                <div class="product"><!-- product Begin -->
                    
                    <a href="/register-login/login.php">
                        
                        <img class="img-responsive" src="image/10.jpg" alt="Product 3">
                        
                    </a>
                    
                    <div class="text"><!-- text Begin -->
                        
                        <h1>
                            <a href="/register-login/login.php">
                                เสื้อครอปแขนสั้นคอเหลี่ยม
                            </a>
                        </h1>
                        
                        <h2 class="price">59 THB</h2>
                        
                        <p class="button">
                            
                            <a href="/register-login/login.php" class="btn btn-default">View Details</a>
                            
                            
                        </p>
                        
                    </div><!-- text Finish -->
                    
                </div><!-- product Finish -->
            </div><!-- col-sm-4 col-sm-6 single Finish -->
            
            <div class="col-sm-4 col-sm-6 single"><!-- col-sm-4 col-sm-6 single Begin -->
                
                <div class="product"><!-- product Begin -->
                    
                    <a href="/register-login/login.php">
                        
                        <img class="img-responsive" src="image/12.jpg" alt="Product 4">
                        
                    </a>
                    
                    <div class="text"><!-- text Begin -->
                        
                        <h1>
                            <a href="/register-login/login.php">
                                เสื้อครอปแขนสั้นคอกลม
                            </a>
                        </h1>
                        
                        <h2 class="price">59 THB</h2>
                        
                        <p class="button">
                            
                            <a href="/register-login/login.php"class="btn btn-default">View Details</a>
                            
                        </p>
                        
                    </div><!-- text Finish -->
                    
                </div><!-- product Finish -->
            </div><!-- col-sm-4 col-sm-6 single Finish -->
            
            <div class="col-sm-4 col-sm-6 single"><!-- col-sm-4 col-sm-6 single Begin -->
                
                <div class="product"><!-- product Begin -->
                    
                    <a href="/register-login/login.php">
                        
                        <img class="img-responsive" src="image/15.jpg" alt="Product 5">
                        
                    </a>
                    
                    <div class="text"><!-- text Begin -->
                        
                        <h1>
                            <a href="/register-login/login.php">
                                เสื้อครอปแขนสั้นกระดุมจริง
                            </a>
                        </h1>
                        
                        <h2 class="price">59 THB</h2>
                        
                        <p class="button">
                            
                            <a href="/register-login/login.php" class="btn btn-default">View Details</a>
                           
                            
                        </p>
                        
                    </div><!-- text Finish -->
                    
                </div><!-- product Finish -->
            </div><!-- col-sm-4 col-sm-6 single Finish -->
            
            <div class="col-sm-4 col-sm-6 single"><!-- col-sm-4 col-sm-6 single Begin -->
                
                <div class="product"><!-- product Begin -->
                    
                    <a href="/register-login/login.php">
                        
                        <img class="img-responsive" src="image/20.jpg" alt="Product 6">
                        
                    </a>
                    
                    <div class="text"><!-- text Begin -->
                        
                        <h1>
                            <a href="/register-login/login.php">
                                เสื้อครอปแขนสั้นขอบสี
                            </a>
                        </h1>
                        
                        <h2 class="price">59 THB</h2>
                        
                        <p class="button">
                            
                            <a href="/register-login/login.php" class="btn btn-default">View Details</a>
                            
                            
                        </p>
                        
                    </div><!-- text Finish -->
                    
                </div><!-- product Finish -->
            </div><!-- col-sm-4 col-sm-6 single Finish -->
            
            <div class="col-sm-4 col-sm-6 single"><!-- col-sm-4 col-sm-6 single Begin -->
                
                <div class="product"><!-- product Begin -->
                    
                    <a href="/register-login/login.php">
                        
                        <img class="img-responsive" src="image/24.jpg" alt="Product 7">
                        
                    </a>
                    
                    <div class="text"><!-- text Begin -->
                        
                        <h1>
                            <a href="/register-login/login.php">
                                เสื้อครอปแขนสั้นผูกหน้า
                            </a>
                        </h1>
                        
                        <h2 class="price">59 THB</h2>
                        
                        <p class="button">
                            
                            <a href="/register-login/login.php"class="btn btn-default">View Details</a>
                           
                            
                        </p>
                        
                    </div><!-- text Finish -->
                    
                </div><!-- product Finish -->
            </div><!-- col-sm-4 col-sm-6 single Finish -->
            
            <div class="col-sm-4 col-sm-6 single"><!-- col-sm-4 col-sm-6 single Begin -->
                
                <div class="product"><!-- product Begin -->
                    
                    <a href="/register-login/login.php">
                        
                        <img class="img-responsive" src="image/27.jpg" alt="Product 8">
                        
                    </a>
                    
                    <div class="text"><!-- text Begin -->
                        
                        <h1>
                            <a href="/register-login/login.php">
                                เสื้อครอปแขนสั้นกระดุมแต่ง
                            </a>
                        </h1>
                        
                        <h2 class="price">59 THB</h2>
                        
                        <p class="button">
                            
                            <a href="/register-login/login.php" class="btn btn-default">View Details</a>
                            
                          
                            
                        </p>
                        
                    </div><!-- text Finish -->
                    
                </div><!-- product Finish -->
                
            
                
            </div><!-- col-sm-4 col-sm-6 single Finish -->
            
        </div><!-- row Finish -->
        
    </div><!-- container Finish -->
        <div class="buy_now_bt">
            <button class="buy_text">Check Stoct Now</button>
        </div>
    </div>
</div>
   <!-- New Arrivals section end -->
   <!-- contact section start -->
<div class="layout_padding contact_section">
    <div class="container">
        <h1 class="new_text"><strong>Contact Now</strong></h1>
    </div>
    <div class="container-fluid ram">
        <div class="row">
            <div class="col-md-6">
                <div class="email_box">
                <div class="input_main">
                   <div class="container">
                      <form action="/action_page.php">
                        <div class="form-group">
                          <input type="text" class="email-bt" placeholder="Name" name="Name">
                        </div>
                        <div class="form-group">
                          <input type="text" class="email-bt" placeholder="Phone Numbar" name="Name">
                        </div>
                        <div class="form-group">
                          <input type="text" class="email-bt" placeholder="Email" name="Email">
                        </div>
                        
                        <div class="form-group">
                            <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="Massage"></textarea>
                        </div>
                      </form>   
                   </div> 
                   <div class="send_btn">
                    <button class="main_bt">Send</button>
                   </div>                   
                </div>
        </div>
            </div>
            <div class="col-md-6">
                <div class="shop_banner">
                    <div class="our_shop">
                        <button class="out_shop_bt">Our Shop</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
   <!-- contact section end -->
 
{% endblock %}